/*  your css code here. If applicable */
.container{
	width:300px;
	height:100px;
	background-color:gray;
	border:5px solid black;
	border-radius:70px;
	display:flex;
	padding:50px 70px;
}
.red{
	width:100px;
	height:100px;
	background-color: green;
	border-radius:50%;
	text-align:center;
	margin:10px;
}
.green{
	width:100px;
	height:100px;
	background-color: red;
	border-radius:50%;
	text-align:center;
	margin:10px;
}
.yellow{
	width:100px;
	height:100px;
	background-color: yellow;
	border-radius:50%;
	text-align:center;
	margin:10px;
}